* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #eeeded
    
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: white;
    column-gap: 220px;


}

.nav .item {
    display: flex;
    column-gap: 20px;
    position: relative;
    right: 10%;
    margin-right: 25rem;
}

.nav .btn {
    display: flex;
    column-gap: 20px;
    
}

.nav .btn input {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #3a6fff;
    
}

.nav .btn .login {
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #3a6fff;
    background-color: #3a6fff;
    color: #ffffff;
    text-decoration: none;
}

.nav .item a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
}
    
.nav .item .home-btn {
    color: #3a6fff;
    font-weight: 700;
}

main {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .contact-info,
  .contact-form {
    width: 50%;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .foot-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background: #f5f5f5;
    font-size: small;
}

.foot-sec .item{
    display: flex;
    column-gap: 20px;
    
}

.foot-sec .item a{
    text-decoration: none;
    color: black;
}
  