*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: white;
    column-gap: 220px;
    padding-right: 20px;
}

.nav .item {
    display: flex;
    column-gap: 20px;
}

.nav .btn {
    display: flex;
    column-gap: 20px;
}

.nav .btn input {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #3a6fff;
}

.nav .btn .login {
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #3a6fff;
    background-color: #3a6fff;
    color: #ffffff;
    text-decoration: none;
}

.nav .item a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.nav .item .home-btn {
    color: #3a6fff;
    font-weight: 700;
}
.car-sec {
    height: 192vh;
    padding: 30px;
    /* justify-content: center; */
    flex-direction: column;
    display: flex;
}

.car-sec .btn a {
    padding: 5px 25px;
    border: 1px solid darkgray;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    outline: none;
}

.car-sec .main-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.car-sec .main-sec .box {
    /* background: red; */
    overflow: hidden;
    width: 365px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid darkgray;
}

.car-sec .main-sec .box .details {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    row-gap: 15px;
}

.car-sec .main-sec .box .details .car-name {
    font-size: 23px;
    font-weight: 700;
}

.car-sec .main-sec .box .review {
    display: flex;
    column-gap: 5px;
}

.car-sec .main-sec .box .review i {
    color: orange;
}

.car-sec .main-sec .box .review p {
    color: darkgray;
}

.car-sec .main-sec .box .feature {
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 20px;
}

.car-sec .main-sec .box .feature p i {
    color: #3a6fff;
    font-size: 20px;
}

.car-sec .main-sec .box .price {
    display: flex;
    border-top: 1px solid darkgray;
    column-gap: 167px;
    padding-top: 20px;
    align-items: center;
}

.car-sec .main-sec .box .price p {
    font-size: 15px;
    font-weight: 700;
}

.car-sec .main-sec .box .price a {
    border: none;
    border-radius: 10px;
    background-color: #3a6fff;
    height: 25px;
    font-size: small;
    width: 70px;
    padding-left: 6px;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

.car-sec .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.car-sec .txt .txt1 {
    font-size: 3rem;
    font-weight: 700;
}

.car-sec .txt .txt1 span {
    color: #3a6fff;
}

.foot-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background: #f5f5f5;
    font-size: small;
    position: absolute;
    top: 119rem;
}

.foot-sec .item{
    display: flex;
    column-gap: 20px;
    
}

.foot-sec .copy{
    padding-left: 45.6rem;
}

.foot-sec .item a{
    text-decoration: none;
    color: black;
}